@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* --------------------------
  BASIC NAVBAR
--------------------------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #eee;
  padding: 0 4em;
  list-style-type: none;
  background: linear-gradient(to bottom, #f9f9f9bb, #969696a3)
}

.logo img {
  width: 200px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* --------------------------
  HAMBURGER (HIDDEN ON DESKTOP)
--------------------------- */

.menu-toggle {
  display: none;
  /* hide checkbox */
}

.hamburger {
  display: none;
  /* hidden on desktop */
  font-size: 28px;
  cursor: pointer;
  user-select: none;
}



.nav-left {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
}

.nav-left ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-left: 1px solid #00000081;
}

.nav-left ul li {
  float: left;
}

.nav-left ul li a,
.dropbtn {
  display: inline-block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.nav-left ul li.dropdown {

  display: inline-block;
}

.nav-left ul li .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #00000033;

}

.nav-left ul li .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: left;
  gap: 4px;

}

.nav-left ul li .dropdown-content a img {
  width: 25px;
}

.nav-left ul li .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.nav-left ul li.dropdown:hover .dropdown-content {
  display: block;
  border: 1px solid #80808095;
  border-radius: 5px;
}

.nav-left button {

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 17px;
  border-radius: 40px;
  border: none;
  background-color: #0a7fd8;
  color: white;
  font-weight: 400;
  padding: 10px 25px;
}

main {
  width: 100%;
  min-height: 100vh;
}

main .hero {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3em 5em;
  gap: 3px;
}

main .hero .hero-content {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3em;
}

main .hero .hero-content span {
  font-weight: bold;
  font-size: 40px;
}

main .hero .hero-content span:nth-child(2) {
  color: #01bbbb;
}

main .hero .hero-content p {
  font-size: 18px;
  color: #808080;
}

main .hero .hero-content .btn-container {
  display: flex;
  gap: 2px;
  justify-self: start;

}

main .hero .hero-content .btn-container button {

  border: none;
  font-size: 18px;
  font-weight: 400;

}

main .hero .hero-content .btn-container button:nth-child(1) {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #d1d101;
}

main .hero .hero-content .btn-container button:nth-child(2) {
  padding: 10px 10px;
  border-radius: 50%;
  background-color: #00008b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d1d101;
}

main .hero .hero-content .image-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

main .hero .hero-content .image-container img {
  height: 100%;
  border-radius: 10px;
}

main .hero .hero-content .image-container iframe {
  height: 100%;
  border-radius: 10px;
}

/* Section Feature */
main .feature-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2em 7em;

  gap: 3px;
}

main .feature-container .feature {
  width: 100%;
  padding: 2em 5em;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  background: linear-gradient(to bottom, rgba(18, 60, 230, 0.8), rgba(49, 100, 230, 0.8));

}

main .feature-container .feature .text-block {
  width: 100%;
  text-align: center;
}

main .feature-container .feature .text-block h2 {
  font-size: 35px;
  font-weight: 450;
  color: #ffffff;
}

main .feature-container .feature .text-block h2 span {
  color: #b0b002;
  font-weight: 450;
}

main .feature-container .feature .text-block p {
  color: #ffffff;
  font-size: 18px;
}

main .feature-container .feature .card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.5em;
  padding: 0 2em;
}

main .feature-container .feature .card-container .card {
  width: 100%;
  background-color: #fafafa82;
  border-radius: 10px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;

  gap: .6em;
}

main .feature-container .feature .card-container .card .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  background-color: rgba(128, 128, 128, 0.317);
  font-size: 18px;
}

main .feature-container .feature .card-container .card .title {
  font-weight: bold;
}

main .feature-container .feature .card-container .card p {
  font-size: 16px;
  color: #303030;
}

main .feature-container .feature .card-container .card button {
  padding: 10px 10px;
  cursor: pointer;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: #00008b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d1d101;
  border: none;
  font-size: 18px;
  font-weight: 400;
  align-self: end;


}

/* Section new */
main .section-new {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

main .section-new .box-text {
  width: 85%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

main .section-new .box-text h1 {
  font-weight: 600;
}

main .section-new .box-text p {
  font-size: 16px;
  font-weight: 400;
}

main .section-new .cards {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 1.6em;
}

main .section-new .cards .card {
  width: 100%;
  height: 60vh;
  background-color: #ffffff;
  border: 1px solid #0000003e;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;

}

main .section-new .cards .card .card-image {
  width: 100%;
  height: 20vh;
  border-radius: 10px;
  overflow: hidden;
}

main .section-new .cards .card .card-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;


}

main .section-new .cards .card .card-date {
  display: flex;
  font-size: 13px;
  background-color: #ff0000;
  padding: 3px 3px;
  border-radius: 20px;
  color: #ffffff;
  justify-content: start;
}

main .section-new .cards .card .card-title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  align-items: center;
}

main .section-new .cards .card .card-description {
  min-height: 40%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  font-size: 15px;
  font-weight: 400;
}

main .section-new .cards .card .btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

main .section-new .cards .card .btn-container .btn {
  padding: 10px 10px;
  cursor: pointer;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: #ffff00;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  border: none;
  font-size: 18px;
  font-weight: 400;
  align-self: end;
}

main .section-new .section-new-btn{
  border: none;
  background-color: blue;
  padding: 10px 15px;
  border-radius: 20px;
  color: white;
}

.contact-section {
  position: relative;
  background: #e6eefb;
  padding: 56px 10%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 40px;
  align-items: start;
  overflow: visible;
  margin-top: 2em;
}

/* Left column (title/cta) */
.contact-left h2 {
  font-size: 36px;
  margin: 0 0 12px;
  line-height: 1.05;
}

.contact-left p {
  color: #56606b;
  margin: 0 0 24px;
  max-width: 540px;
}

/* CTA */
.cta {
  background: #ffcd2b;
  color: #0f1733;
  padding: 12px 22px;
  border-radius: 999px;
  border: none;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  box-shadow: 0 6px 18px rgba(15,23,51,0.06);
}

/* Right column: two columns of lists */
.contact-right {
  display: grid;
  grid-template-columns: 1fr 1fr; /* two vertical columns */
  gap: 8px 40px;
  align-items: start;
}

/* Each column is an <ul> with stacked items */
.contact-col {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-col li {
  margin-bottom: 18px;
}

/* Label and value */
.contact-col strong {
  display: block;
  color: #243044;
  font-weight: 700;
  margin-bottom: 6px;
  font-size: 14px;
}

.contact-col .value {
  color: #123576;            /* blue color like screenshot */
  font-weight: 700;
  font-size: 15px;
  line-height: 1.35;
}

/* Make phone/email clickable and styled */
.contact-col .value a {
  color: inherit;
  text-decoration: none;
  transition: opacity .15s;
}

.contact-col .value a:hover {
  opacity: 0.8;
}

/* Address special: allow long text and keep readable */
.contact-col .address{
  min-width: 0;
}
.contact-col .address .value {
  font-weight: 600;

  color: #123576;

}

/* Decorative graphic (right side) */
.decorative-graphic {
  position: absolute;
  right: 4%;
  bottom: 10px;
  width: 220px;
  height: 220px;
  pointer-events: none;
  opacity: 0.45;
  transform: translateY(10px);
}

.footer {
  padding: 3em 5em;
  border-top: 1px solid #ddd;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  border-bottom: 1px solid #ddd;
  padding-bottom: 25px;
}

.footer-links a {
  text-decoration: none;
  color: #0b71d8;
  font-size: 14px;
}
/* Footer Bottom Container */
.footer-bottom-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}
/* Bottom row */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-bottom p {
  color: #555;
  font-size: 13px;
}

.policy-links a {
  margin-left: 20px;
  color: #0b71d8;
  font-size: 13px;
  text-decoration: none;
}

/* Social icons */
.footer-social {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.footer-social ion-icon {
  width: 22px;
  height: 22px;
  cursor: pointer;
}
/* --------------------------
  MOBILE STYLES
--------------------------- */

@media (min-width: 320px) and (max-width: 480px) {

  .logo img {
    width: 100px;
  }

  .hamburger {
    display: block;
    /* show hamburger */
  }

  .navbar {
    padding: 0 1em;
  }

  .nav-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .nav-left ul {
    border: none;
  }



  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    display: none;
    /* hidden by default */
    border-top: 1px solid #eee;
    list-style-type: none;
  }

  /* When checkbox is checked → show menu */
  .menu-toggle:checked+.hamburger+.nav-links {
    display: flex;
    align-items: center;
  }

  /* Hero Section */
  main {
    width: 100%;
    min-height: 100vh;
  }

  main .hero {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    padding: 0 1em;
    gap: 3px;
  }

  main .hero .hero-content {
    height: 35vh;
    padding: 1em;
  }

  main .hero .hero-content span {
    font-size: 20px;
  }

  main .hero .hero-content p {
    font-size: 15px;
    color: #808080;
  }

  main .hero .hero-content .image-container {
    width: 100%;
    display: flex;
    justify-content: start;
  }

  main .hero .hero-content .image-container img {
    width: 100%;
  }

  main .hero .hero-content .image-container iframe {
    width: 100%;
  }

  main .hero .hero-content .btn-container button {
    font-size: 15px;
  }

  /* Feature Section */
  main .feature-container {
    padding: .5em 1em;
    gap: 3px;
  }

  main .feature-container .feature {
    padding: 2em 1em;
  }

  main .feature-container .feature .text-block h2 {
    font-size: 25px;
    font-weight: 500;
  }

  main .feature-container .feature .text-block h2 span {
    font-weight: 500;
  }

  main .feature-container .feature .text-block p {
    font-size: 15px;
  }

  main .feature-container .feature .card-container {
    grid-template-columns: auto;
  }


  /* Section new */
  main .section-new {
    margin-top: 2em;

  }

  main .section-new .box-text {
    width: 85%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  main .section-new .box-text h1 {
    font-weight: 600;
    font-size: 25px;
  }

  main .section-new .box-text p {
    font-size: 15px;
    font-weight: 400;
  }

  main .section-new .cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact-right {
    grid-template-columns: 1fr; /* stack lists on small mobile */
    gap: 12px;
  }

  .contact-left h2 { font-size: 26px; }
  .decorative-graphic { display: none; }


}

/* --------------------------
  TABLETS STYLES
--------------------------- */
@media (min-width: 481px) and (max-width: 1024px) {

  .hamburger {
    display: block;
    /* show hamburger */
  }



  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    display: none;
    /* hidden by default */
    border-top: 1px solid #eee;
    list-style-type: none;
  }

  /* When checkbox is checked → show menu */
  .menu-toggle:checked+.hamburger+.nav-links {
    display: flex;
  }

  /* Hero Section */
  main {
    width: 100%;
    min-height: 100vh;
  }

  main .hero {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    padding: 0 3em;
    gap: 3px;
  }

  main .hero .hero-content {
    height: 30vh;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main .hero .hero-content span {
    font-size: 30px;
  }

  main .hero .hero-content p {
    font-size: 18px;
    color: #808080;
  }

  main .hero .hero-content .image-container {
    width: 100%;
  }

  main .hero .hero-content .image-container img {
    width: 100%;
    ;
  }

  main .hero .hero-content .image-container iframe {
    width: 100%;
  }

  main .hero .hero-content .btn-container button {
    font-size: 15px;
  }




  /* Feature Section */
  main .feature-container {
    padding: 1em 3.5em;
    gap: 3px;
  }

  main .feature-container .feature {
    padding: 2em 3em;
  }

  main .feature-container .feature .text-block h2 {
    font-size: 30px;
    font-weight: 500;
  }

  main .feature-container .feature .text-block h2 span {
    font-weight: 500;
  }

  main .feature-container .feature .text-block p {
    font-size: 17px;
  }

  main .feature-container .feature .card-container {
    grid-template-columns: auto auto;
  }


  /* Section new */
  main .section-new {
    margin-top: 2em;

  }
  main .section-new .cards .card{
    height: 50vh;
  }

  main .section-new .box-text {
    width: 85%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  main .section-new .box-text h1 {
    font-weight: 600;
    font-size: 25px;
  }

  main .section-new .box-text p {
    font-size: 15px;
    font-weight: 400;
  }

  main .section-new .cards {
    grid-template-columns: repeat(2, 1fr);
  }


}

/* --------------------------
  DESKTOP STYLES
--------------------------- */
@media (max-width: 1025px) {

  .hamburger {
    display: block;
    /* show hamburger */
  }

  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    display: none;
    /* hidden by default */
    border-top: 1px solid #eee;
    list-style-type: none;
  }

  /* When checkbox is checked → show menu */
  .menu-toggle:checked+.hamburger+.nav-links {
    display: flex;
  }
}
